<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebytek.server.mapper.customized.MyCourseMapper" >

    <update id="updateTime">
        update course c set `time` = (select sum(`length`) from `section` where course_id = #{courseId})
        where c.id = #{courseId}
    </update>

    <update id="updateIdx" parameterType="com.jebytek.server.dto.IdxDto">
        update course set `idx`= #{newIdx} where id = #{id}
    </update>

    <update id="moveIdxForward" parameterType="com.jebytek.server.dto.IdxDto">
        <![CDATA[
        update course set `idx`= (`idx`-1) where `idx` <= #{newIdx} and `idx` >= #{curIdx} and id != #{id}
        ]]>
    </update>

    <update id="moveIdxBackward" parameterType="com.jebytek.server.dto.IdxDto">
        <![CDATA[
        update course set `idx`= (`idx`+1) where `idx` >= #{newIdx} and `idx` <= #{curIdx} and id != #{id}
        ]]>
    </update>
</mapper>
